<?xml version="1.0" encoding="utf-8"?>
<robot name="wheel_GOAT">
    <!-- Enable when Base link is fixed -->
    
    <!-- 
    <link name="world"/>
    <joint name="base_static_Joint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0.3"/>
        <parent link="world"/>
        <child link="base_Link"/>
    </joint>
    -->

    <!-- ****************************************** Link ******************************************************** -->

    <link name="base_Link">
        <inertial>
            <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
            <mass value="3.153308"/>
            <inertia ixx="21860E-06" ixy="-11.699458E-06" ixz="6702E-06"
                    iyy="25170E-06" iyz="4.493943E-06" izz="23520E-06"/>
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="../meshes/base_Link.stl"/>
            </geometry>
            <material name="blue">
                <color rgba="0.0 0.0 0.8 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-11E-03 0E-03 56E-03" rpy="0 0 0"/>
            <geometry>
                <box size="0.214 0.200 0.190"/>
            </geometry>
        </collision>
        <!-- <collision>
            <origin xyz="0.07 0.0 -0.078" rpy="0 0 0"/>
            <geometry>
                <box size="0.07 0.25 0.08"/>
            </geometry>
        </collision> -->
    </link>

    <link name="hip_L_Link">
        <inertial>
            <origin rpy="0 0 0" xyz="-47.5E-03 -38.265E-03 0.247E-03"/>
            <mass value="0.326"/>
            <inertia ixx="153.8E-06" ixy="-13.84168E-06" ixz="-7.365016E-06"
                    iyy="232.6E-06" iyz="-0.923815E-06" izz="209.3E-06"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="../meshes/hip_L_Link.stl"/>
            </geometry>
            <material name="white">
                <color rgba="1.0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-53.5E-03 0 0" rpy="1.57 0 0"/>
            <geometry>
                <cylinder length="135E-03" radius="42E-03"/>
            </geometry>
        </collision>
    </link>

    <link name="hip_R_Link">
        <inertial>
            <origin rpy="0 0 0" xyz="-47.5E-03 38.265E-03 0.247E-03"/>
            <mass value="0.326"/>
            <inertia ixx="153.8E-06" ixy="13.84168E-06" ixz="-7.365016E-06"
                    iyy="232.6E-06" iyz="0.923815E-06" izz="209.3E-06"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="../meshes/hip_R_Link.stl"/>
            </geometry>
            <material name="white">
                <color rgba="1.0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-53.5E-03 0 0" rpy="1.57 0 0"/>
            <geometry>
                <cylinder length="135E-03" radius="42E-03"/>
            </geometry>
        </collision>
    </link>

    <link name="thigh_L_Link">
        <inertial>
            <origin rpy="0 0 0" xyz="-2.015E-03 42.352E-03 -35.272E-03"/>
            <mass value="0.483216"/>
            <inertia ixx="2425E-06" ixy="-20.797926E-06" ixz="-75.779875E-06"
                    iyy="2342E-06" iyz="-378.3E-06" izz="385E-06"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="../meshes/thigh_L_Link.stl"/>
            </geometry>
            <material name="white">
                <color rgba="1.0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-11E-03 16E-03 -116E-03" rpy="0 0 0"/>
            <geometry>
                <box size="0.09 0.05 0.145"/>
            </geometry>
        </collision>
    </link>

    <link name="thigh_R_Link">
        <inertial>
            <origin rpy="0 0 0" xyz="-2.015E-03 -42.352E-03 -35.272E-03"/>
            <mass value="0.483216"/>
            <inertia ixx="2425E-06" ixy="20.797926E-06" ixz="-75.779875E-06"
                    iyy="2342E-06" iyz="378.3E-06" izz="385E-06"/>
                    
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="../meshes/thigh_R_Link.stl"/>
            </geometry>
            <material name="white">
                <color rgba="1.0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-11E-03 -16E-03 -116E-03" rpy="0 0 0"/>
            <geometry>
                <box size="0.09 0.05 0.145"/>
            </geometry>
        </collision>
    </link>
        
    <link name="calf_L_Link">
        <inertial>
            <origin rpy="0 0 0" xyz="1.969E-03 0.712E-03 -160.161E-03"/>
            <mass value="0.303"/>
            <inertia ixx="1598E-06" ixy="0.70571E-06" ixz="-31.199137E-06"
                    iyy="1638E-06" iyz="6.440235E-06" izz="95.365219E-06"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="../meshes/calf_L_Link.stl"/>
            </geometry>
            <material name="white">
                <color rgba="1.0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -116E-03" rpy="0 0 0"/>
            <geometry>
                <cylinder length="233E-03" radius="32.5E-03"/>
            </geometry>
        </collision>
    </link>

    <link name="calf_R_Link">
        <inertial>
            <origin rpy="0 0 0" xyz="1.969E-03 -0.712E-03 -160.161E-03"/>
            <mass value="0.303"/>
            <inertia ixx="1598E-06" ixy="-0.70571E-06" ixz="-31.199137E-06"
                    iyy="1638E-06" iyz="-6.440235E-06" izz="95.365219E-06"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="../meshes/calf_R_Link.stl"/>
            </geometry>
            <material name="white">
                <color rgba="1.0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -116E-03" rpy="0 0 0"/>
            <geometry>
                <cylinder length="233E-03" radius="32.5E-03"/>
            </geometry>
        </collision>
    </link>

    <!-- BFW -->
    <link name="wheel_L_Link">
        <inertial>
            <origin rpy="0 0 0" xyz="0.00E-03 30.66E-03 -0.00E-03" />
            <mass value="0.985" />
            <inertia ixx="3366E-06" ixy="0.00E-06" ixz="0.00E-06" 
                    iyy="6306E-06" iyz="0.00E-06" izz="3366E-06" />
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="../meshes/BF_wheel_L_Link.stl"/>
            </geometry>
            <material name="black">
                <color rgba="0.0 0.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin rpy="1.5707963267948966 0 0" xyz="0 0.03 0" />
            <geometry>
                <cylinder length="0.05" radius="0.1" />
            </geometry>
        </collision>
    </link>

    <!-- <link name="wheel_L_Link">
        <inertial>
            <origin rpy="0 0 0" xyz="0.0 8.265E-03 0.0" />
            <mass value="0.220" />
            <inertia ixx="352.7E-06" ixy="0.0" ixz="0.0" 
                    iyy="674E-06" iyz="0.0" izz="352.7E-06" />
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="../meshes/wheel_L_Link.stl"/>
            </geometry>
            <material name="black">
                <color rgba="0.0 0.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin rpy="1.5707963267948966 0 0" xyz="0 7E-03 0" />
            <geometry>
                <cylinder length="7E-03" radius="72.75E-03" />
            </geometry>
        </collision>
    </link> -->

    <!-- BFW -->
    <link name="wheel_R_Link">
        <inertial>
            <origin rpy="0 0 0" xyz="0.00E-03 -30.66E-03 0.00E-03" />
            <mass value="0.985" />
            <inertia ixx="3366E-06" ixy="0.00E-06" ixz="0.00E-06" 
                    iyy="6306E-06" iyz="0.00E-06" izz="3366E-06" />
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="../meshes/BF_wheel_R_Link.stl"/>
            </geometry>
            <material name="black">
                <color rgba="0.0 0.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin rpy="1.5707963267948966 0 0" xyz="0 -0.03 0" />
            <geometry>
                <cylinder length="0.05" radius="0.1" />
            </geometry>
        </collision>
    </link>

    <!-- <link name="wheel_R_Link">
        <inertial>
            <origin rpy="0 0 0" xyz="0.0 -8.265E-03 0.0" />
            <mass value="0.220" />
            <inertia ixx="352.7E-06" ixy="0.0" ixz="0.0" 
                    iyy="674E-06" iyz="0.0" izz="352.7E-06" />
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="../meshes/wheel_R_Link.stl"/>
            </geometry>
            <material name="black">
                <color rgba="0.0 0.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin rpy="1.5707963267948966 0 0" xyz="0 -7E-03 0" />
            <geometry>
                <cylinder length="7E-03" radius="72.75E-03" />
            </geometry>
        </collision>
    </link> -->

    <link name="imu_link">
        <!-- <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.02 0.02 0.01"/> </geometry>
            <material name="red"/>
        </visual> -->
    </link>


    <!-- ****************************************** Joint ******************************************************** -->
    
    <joint name="hip_L_Joint" type="revolute">
        <origin xyz="51.079E-03 96.336E-03 -87.088E-03" rpy="0 0 0"/>
        <parent link="base_Link"/>
        <child link="hip_L_Link"/>
        <axis xyz="-1 0 0"/>
        <limit effort="4.5" lower="-1.7453" upper="1.0123" velocity="33.5"/>
        <dynamics damping="0.0" stiffness ="0.0"/>
        <dynamics friction="0.0" />
    </joint>
    
    <joint name="hip_R_Joint" type="revolute">
        <origin xyz="51.079E-03 -96.336E-03 -87.088E-03" rpy="0 0 0"/>
        <parent link="base_Link"/>
        <child link="hip_R_Link"/>
        <axis xyz="-1 0 0"/>
        <limit effort="4.5" lower="-1.0123" upper="1.7453" velocity="33.5"/>
        <dynamics damping="0.0" stiffness ="0.0"/>
        <dynamics friction="0.0" />
    </joint>
    
    <joint name="thigh_L_Joint" type="revolute">
        <origin xyz="-54E-03 -17E-03 0" rpy="0 0 0"/>
        <parent link="hip_L_Link"/>
        <child link="thigh_L_Link"/>
        <axis xyz="0 1 0"/>
        <limit effort="4.5" lower="-0.3840" upper="2.0071" velocity="33.5"/>
        <dynamics damping="0.0" stiffness ="0.0"/>
        <dynamics friction="0.0" />
    </joint>

    <joint name="thigh_R_Joint" type="revolute">
        <origin xyz="-54E-03 17E-03 0" rpy="0 0 0"/>
        <parent link="hip_R_Link"/>
        <child link="thigh_R_Link"/>
        <axis xyz="0 -1 0"/>
        <limit effort="4.5" lower="-2.0071" upper="0.3840" velocity="33.5"/>
        <dynamics damping="0.0" stiffness ="0.0"/>
        <dynamics friction="0.0" />
    </joint>

    <joint name="knee_L_Joint" type="revolute">
        <origin xyz="0 18E-03 -205E-03" rpy="0 0 0"/>
        <parent link="thigh_L_Link"/>
        <child link="calf_L_Link"/>
        <axis xyz="0 -1 0"/>
        <limit effort="9.0" lower="-0.523599" upper="2.3387" velocity="33.5"/>
        <dynamics damping="0.0" stiffness ="0.0"/>
        <dynamics friction="0.0" />
    </joint>

    <joint name="knee_R_Joint" type="revolute">
        <origin xyz="0 -18E-03 -205E-03" rpy="0 0 0"/>
        <parent link="thigh_R_Link"/>
        <child link="calf_R_Link"/>
        <axis xyz="0 1 0"/>
        <limit effort="9.0" lower="-2.3387" upper="0.523599" velocity="33.5"/>
        <dynamics damping="0.0" stiffness ="0.0"/>
        <dynamics friction="0.0" />
    </joint>

    <joint name="wheel_L_Joint" type="revolute">
        <origin xyz="0 16.555E-03 -200E-03" rpy="0 0 0"/>
        <parent link="calf_L_Link" />
        <child link="wheel_L_Link" />
        <axis xyz="0 1 0" />
        <limit effort="2.5" lower="-1000000" upper="1000000" velocity="33.5" />
        <dynamics damping="0.0" stiffness="0.0"/>
        <dynamics friction="0.0" />
    </joint>
    
    <joint name="wheel_R_Joint" type="revolute">
        <origin xyz="0 -16.555E-03 -200E-03" rpy="0 0 0"/>
        <parent link="calf_R_Link" />
        <child link="wheel_R_Link" />
        <axis xyz="0 -1 0" />
        <limit effort="2.5" lower="-1000000" upper="1000000" velocity="33.5" />
        <dynamics damping="0.0" stiffness="0.0"/>
        <dynamics friction="0.0" />
    </joint>

    <joint name="imu_joint" type="fixed">
        <parent link="base_Link"/>
        <child link="imu_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
    
    <!-- ****************************************** D435 Camera ******************************************************** -->
    <!--
    <joint name="d435_joint" type="fixed">
        <origin rpy="0 1.063778179 0" xyz="0.13223 0.0222 -0.26826"/>
        <parent link="base_Link"/>
        <child link="d435_Link"/>
    </joint>
    <link name="d435_Link">
        <visual>
            <origin rpy="1.5707963267948966 0 1.5707963267948966" xyz="0.0149 -0.0175 0"/>
            <geometry>
                <mesh filename="package://goat_description/meshes_camera/d435.dae" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 -0.0175 0"/>
            <geometry>
                <box size="0.02505 0.09 0.025"/>
            </geometry>
        </collision>
    </link>
    -->
    <!-- ****************************************** D435 Camera END ******************************************************** -->
</robot>
