# C++
**/cmake-build*/
**/build*/
**/*.so
**/*.log*

# Omniverse
**/*.dmp
**/.thumbs
**/*.gif

# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pb
**/*.pth
**/*.gif

# Docker/Singularity
**/*.sif
docker/cluster/exports/
docker/.container.cfg

# IDE
**/.idea/
**/.vscode/
**/Dataset/
# Don't ignore the top-level .vscode directory as it is
# used to configure VS Code settings
!.vscode

# Outputs
**/output/*
**/Dataset/*
**/outputs/*
**/videos/*
**/wandb/*
**/.neptune/*
docker/artifacts/
*.tmp

# Doc Outputs
**/docs/_build/*
**/generated/*

# Isaac-Sim packman
_isaac_sim*
_repo
_build
.lastformat

# Pre-Trained Checkpoints
/.pretrained_checkpoints/

# Generated Assets
**/usd/*

#Realworld ros2
**/Realworld/install/
**/Realworld/build/
**/Realworld/log/
**/Realworld/.vscode/
**/Realworld/src/goat_control/pd_logs/

**/Realworld/src/goat_description/.vscode/
**/Realworld/src/goat_description/log/

**/Realworld/src/goat_sysid/.vscode/
**/Realworld/src/goat_sysid/log/
**/Realworld/test_log/


# VS Code
.vscode/
**/.vscode/

# VS Code C/C++ database
*.vc.db
*.vc.db-shm
*.vc.db-wal